html, body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #222222;
}

body {
  margin-top: 50px;
}

body > header {
  padding: 60px 0;
  background: url('../img/bg/triangular.png') repeat center center #FFDBF2;
  text-align: center;
}

pre {
  padding: 0;
  margin: 0;

  font-size: 15px;
  border-radius: inherit;
}

section {
  padding: 50px 15px 0 15px;
  background: #ffffff;
}
section h1 {
  color: #ff0d56;
}

.demo-box {
  margin: auto;
  text-align: center;
}

.carrousels {
  width: 100%;
}

footer {
  color: #eeeeee;
  background: #1d8583;
}